@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins&display=swap');

    /* <=====   Style ShortCut   =====>*/

* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter';
}
button,a{
    cursor: pointer;
}
:is(.balck-list) a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
}
:is(ul){
    list-style: none;
}
:is(a){
    text-decoration: none;
}
:is(.white-list) a{
    color: #fff;
    font-size: 16px;
}
.ShopNow {
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
} 

    /* <=====   Style Top Header   =====>*/

header{
    border-bottom: 0.1px solid #c1c1c1;
}
.topheader{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top-header{ 
    color: white;
    background-color: black;
    padding: 10px 0;
    font-family: 'Poppins';
    font-size: 13px;
}   
.top-header p {
    margin-left: 20%;
    margin-right: 10px;
}
.lang {
    display: flex;
    align-items: center;
    font-size: 14px;
}

    /* <=====   Style Bottom Header   =====>*/
    
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 5px 0px;
    width: 80%;
    margin: auto;
}
.header h2 a{
    color: #000;
    flex-grow: 0.5;
    font: normal 700 24px;
    letter-spacing: 0.03em;
}

    /*-----   Style Header Menu   -----*/

.menu{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    margin-right: 30px;
}
.signup{
    padding-bottom: 5px;
    border-bottom:  5px solid #DB4444;
}
.menu a:hover{
    padding-bottom: 8px;
    border-bottom:  5px solid #DB4444;
}
.search{
    display: flex;
    background-color: #F5F5F5;
    padding: 2px;
}
.search input{
    width: 200px;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: #F5F5F5;
}
.wish-card{
    display: flex;
    align-items: center;
    gap: 20px;
}
.wish-card > .span1, .span2{
    margin-top: -20px;
    margin-left: 15px;
    position: absolute;
    font-size: 9px;
    padding: 4px 6px;
    background: #DB4444;
    color: #fff;
    border-radius: 50%;
}
.wish-card > .span2{
    margin-left: 64px;
}
.user img{
    background-color: #DB4444;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
}

     /*<!--=====  Container  =====-->*/

.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 90px;
}
.Manage-account{
    display: flex;
    justify-content: space-between;
}
.welcome{
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}
.welcome > span > a{
    font: normal 400 14px/21px 'Poppins';
    color: #949494;
}
.welcome > span > a > b{
    color: #000;
}
.welcome > p > span{
    color: #DB4444;
}
.side-menu > ul > li {
    font: normal 500 16px/24px 'Poppins';
}
.sublist > li {
    font-family: normal 400 16px/24px 'Poppins';
    margin: 15px 40px;
}
.sublist > li a {
    color: #999999;
}
.sublist > li a:hover {
    color: #DB4444;
}
#MyProfile{
    color: #DB4444;
}
.edit-profile{
    width: 870px;
    height: 630px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
.profile-info{
    padding: 40px 70px;
}
.profile-info h1{
    font: normal 500 20px/28px 'Poppins';
    color: #DB4444;
    margin-bottom: 20px;
}
.change-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.fullname, .email-address{
    display: flex;
    gap: 50px;
}
.firstname, .lastname,
.email, .address, .password{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#firstname, #lastname,
#email, #address{
    color: #808080;
}
#password{
    width: 720px;
    margin-bottom: 5px;
}
.change-info input {
    width: 330px;
    height: 50px;
    border: none;
    outline: none;
    background: #F5F5F5;
    padding: 0 5px;
    border-radius: 4px;
}
.save-change{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.save-change a{
    font: normal 400 16px/24px 'Poppins';
    color: #000;
}
.save-change button{
    padding: 16px 48px;
    background: #DB4444;
    border-radius: 4px;
    border: 2px solid #DB4444;
    font: normal 500 16px/24px 'Poppins';
    color: #FAFAFA;
}

   /* <=====   Style Footer   =====>*/

footer{
    margin-top: 100px;
    background-color: black;
    color: white;
}
.footer-information {
    display: flex; 
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 60px;
}
.footer-information li{
    padding-bottom: 20px;
}
.footeremail{
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 10px;
}
.footeremail input {
    background: none;
    color: #fff;
    border: none;
    outline: none;
}
.support {
    width: 200px;
    line-height: 23px;
}
.download-app p{
    font-size: 12px;
    opacity: 0.7;
    padding-top: 20px;
    padding-bottom: 5px;
}
.download{
    display: flex;
    gap: 5px;
}
.App-store{
    display: flex;
    flex-direction: column;
}
.social{
    margin-right: 20px;
}

    /* <=====   Style Copyright   =====>*/

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 12px;
    opacity: 0.6;
    padding: 20px;
}