@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600&display=swap');

    /* <=====   Style ShortCut   =====>*/

* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter';
}
button,a{
    cursor: pointer;
}
:is(.balck-list) a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
}
:is(ul){
    list-style: none;
}
:is(a){
    text-decoration: none;
}
:is(.white-list) a{
    color: #fff;
    font-size: 16px;
}
.ShopNow {
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
} 

    /* <=====   Style Top Header   =====>*/

header{
    border-bottom: 0.1px solid #c1c1c1;
}
.topheader{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top-header{ 
    color: white;
    background-color: black;
    padding: 10px 0;
    font-family: 'Poppins';
    font-size: 13px;
}   
.top-header p {
    margin-left: 20%;
    margin-right: 10px;
}
.lang {
    display: flex;
    align-items: center;
    font-size: 14px;
}

    /* <=====   Style Bottom Header   =====>*/
    
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 5px 0px;
    width: 80%;
    margin: auto;
}
.header h2 a{
    color: #000;
    flex-grow: 0.5;
    font: normal 700 24px;
    letter-spacing: 0.03em;
}

    /*-----   Style Header Menu   -----*/

.menu{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    margin-right: 30px;
}
.signup{
    padding-bottom: 5px;
    border-bottom:  5px solid #DB4444;
}
.menu a:hover{
    padding-bottom: 8px;
    border-bottom:  5px solid #DB4444;
}
.search{
    display: flex;
    background-color: #F5F5F5;
    padding: 2px;
}
.search input{
    width: 200px;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: #F5F5F5;
}
.wish-card{
    display: flex;
    align-items: center;
    gap: 20px;
}
.wish-card > .span1, .span2{
    margin-top: -20px;
    margin-left: 15px;
    position: absolute;
    font-size: 9px;
    padding: 4px 6px;
    background: #DB4444;
    color: #fff;
    border-radius: 50px;
}
.wish-card > .span2{
    margin-left: 64px;
}

     /*<!--=====  Container  =====-->*/

.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 90px;
}
.container > span > a{
    font: normal 400 14px/21px 'Poppins';
    color: #949494;
}
.container > span > a > b{
    color: #000;
}
.my-product{
    margin-top: 60px;
}
.thead, .tbody1, .tbody2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 4px 4px 4px 4px rgba(0 , 0 , 0 , 0.05);
    margin: 20px 0;
}
.product-in-cart1, .product-in-cart2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.thead p:first-child{
    display: flex;
    flex-grow: 0.14;
}
.tbody1 input, .tbody2 input{
    width: 40px;
    padding: 10px;
    border-radius: 5px;
}
.return-update{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.return-update button{
    padding: 16px 48px;
    background-color: #fff;
    border-radius: 5px;
}
.return-update button:hover{
    color: #fff;
    background-color: #000;
}
.checkout{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.coupon-code{
    display: flex;
    gap: 20px;
    height: 50px;
}
.coupon-code input{
    padding: 10px;
    width: 250px;
    border-radius: 5px;
}
.coupon-code button{
    padding: 16px 48px;
    background-color: #DB4444;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.cart-total{
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    border-radius: 5px;
    width: 450px;
    padding: 25px;
}
.cart-total > div {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 0;
}
.subtotal, .shipping {
    border-bottom: 1px solid #000;
}
.cart-total a{
    padding: 16px 48px;
    width: 260px;
    text-align: center;
    align-self: center;
    border-radius: 5px;
    border: 1px solid #DB4444;
    color: #fff;
    background-color: #DB4444;
}
.cart-total a:hover,
.coupon-code button:hover{
    color: #DB4444;
    background-color: #fff;
    border: 1px solid #DB4444;
}

    /* <=====   Style Footer   =====>*/

footer{
    margin-top: 100px;
    background-color: black;
    color: white;
}
.footer-information {
    display: flex; 
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 60px;
}
.footer-information li{
    padding-bottom: 20px;
}
.footeremail{
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 10px;
}
.footeremail input {
    background: none;
    color: #fff;
    border: none;
    outline: none;
}
.support {
    width: 200px;
    line-height: 23px;
}
.download-app p{
    font-size: 12px;
    opacity: 0.7;
    padding-top: 20px;
    padding-bottom: 5px;
}
.download{
    display: flex;
    gap: 5px;
}
.App-store{
    display: flex;
    flex-direction: column;
}
.social{
    margin-right: 20px;
}

    /* <=====   Style Copyright   =====>*/

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 12px;
    opacity: 0.6;
    padding: 20px;
}