@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600&display=swap');

   /* <=====   Style ShortCut   =====>*/

html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter';
}
button,a{
    cursor: pointer;
}
:is(.balck-list) a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
}
:is(ul){
    list-style: none;
}
:is(a){
    text-decoration: none;
}
:is(.white-list) a{
    color: #fff;
    font-size: 16px;
}
.ShopNow {
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
}

    /* <=====   Button Back Home  =====>*/

.back-home{
    position: fixed;
    text-align: cente;
    margin: 30px;
    z-index: 1;
    top: 620px;
    right: 0;
}
 
    /* <=====   Style Top Header   =====>*/

header{
    border-bottom: 0.1px solid #c1c1c1;
}
.topheader{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top-header{
    color: white;
    background-color: black;
    padding: 10px 0;
    font-family: 'Poppins';
    font-size: 13px;
}   
.top-header p {
    margin-left: 20%;
    margin-right: 10px;
}
.lang {
    display: flex;
    align-items: center;
    font-size: 14px;
}

    /* <=====   Style Bottom Header   =====>*/
    
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 5px 0px;
    width: 80%;
    margin: auto;
}
.header h2 a{
    color: #000;
    flex-grow: 0.5;
    font: normal 700 24px;
    letter-spacing: 0.03em;
}

    /*-----   Style Header Menu   -----*/

.contact{
    padding-bottom: 10px;
    border-bottom: 4px solid #DB4444;
}
.menu{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    margin-right: 30px;
}
.menu a:hover{
    padding-bottom: 10px;
    border-bottom: 4px solid #DB4444;
}
.search{
    display: flex;
    background-color: #F5F5F5;
    padding: 2px;
}
.search input{
    width: 200px;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: #F5F5F5;
}
.wish-card{
    display: flex;
    align-items: center;
    gap: 20px;
}

     /*<!--=====  Container  =====-->*/

.container{
    display: flex;
    flex-direction: column;
    gap: 90px;
    width: 80%;
    margin: auto;
    margin-top: 90px;
}
.container > span > a{
    font: normal 400 14px/21px 'Poppins';
    color: #949494;
}
.container > span > a > b{
    color: #000;
}
.Contact-Us{
    display: flex;
    justify-content: space-between;
}
.info , .send-messsage{
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
    padding: 40px 35px;
}
.info{
    width: 270px;
}
.info p{
    font: normal 400 14px/21px 'Poppins';
    padding: 10px 0;
}
hr{
    margin: 20px 0;
    border: 2px solid #cacaca;
}
.call , .write-email{
    display: flex;
    align-items: center;
    gap: 15px;
}
.call p, .write-email p{
    font: normal 500 16px/24px 'Poppins';
}
.your-info{
    display: flex;
    gap: 20px;
    margin-bottom: 32px;
}
.your-info input{
    width: 230px;
    height: 50px;
    background-color: #F5F5F5;
    padding: 0 5px;
    border: none;
    outline: none;
    border-radius: 4px;
}
.write-message input{
    width: 737px;
    height: 207px;
    background-color: #F5F5F5;
    padding: 0 5px;
    border: none;
    outline: none;
    border-radius: 4px;
}

    /* <=====   Style Footer   =====>*/

footer{
    margin-top: 100px;
    background-color: black;
    color: white;
}
.footer-information {
    display: flex; 
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 60px;
}
.footer-information li{
    padding-bottom: 20px;
}
.footeremail{
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 10px;
}
.footeremail input {
    background: none;
    color: #fff;
    border: none;
    outline: none;
}
.support {
    width: 200px;
    line-height: 23px;
}
.download-app p{
    font-size: 12px;
    opacity: 0.7;
    padding-top: 20px;
    padding-bottom: 5px;
}
.download{
    display: flex;
    gap: 5px;
}
.App-store{
    display: flex;
    flex-direction: column;
}
.social{
    margin-right: 20px;
}

    /* <=====   Style Copyright   =====>*/

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 12px;
    opacity: 0.6;
    padding: 20px;
}