@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins&display=swap');

    /* <=====   Style ShortCut   =====>*/

* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter';
}
button,a{
    cursor: pointer;
}
:is(.balck-list) a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
}
:is(ul){
    list-style: none;
}
:is(a){
    text-decoration: none;
}
:is(.white-list) a{
    color: #fff;
    font-size: 16px;
}
.ShopNow {
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
}
 
    /* <=====   Style Top Header   =====>*/

header{
    border-bottom: 0.1px solid #c1c1c1;
}
.topheader{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top-header{
    color: white;
    background-color: black;
    padding: 10px 0;
    font-family: 'Poppins';
    font-size: 13px;
}   
.top-header p {
    margin-left: 20%;
    margin-right: 10px;
}
.lang {
    display: flex;
    align-items: center;
    font-size: 14px;
}

    /* <=====   Style Bottom Header   =====>*/
    
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 5px 0px;
    width: 80%;
    margin: auto;
}
.header h2{
    flex-grow: 0.5;
    font: normal 700 24px;
    letter-spacing: 0.03em;
}

    /*-----   Style Header Menu   -----*/

.menu{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    margin-right: 30px;
}
.menu a:hover{
    padding-bottom: 10px;
    border-bottom: 4px solid #DB4444;
}
.search{
    display: flex;
    background-color: #F5F5F5;
    padding: 2px;
}
.search input{
    width: 200px;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: #F5F5F5;
}
.wish-card{
    display: flex;
    align-items: center;
    gap: 20px;
}

    /* <=====   Style Main Page   =====>*/
    
.section1{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 120px;
}

    /*<=====   Style Side Menu   =====>*/

.sidebar{
    width: 200px;
    border-right: 1px solid rgb(193, 193, 193);
    padding-top: 20px;
}
.sidebar ul li{
    display: flex;
    align-items: center;
    margin: 15px 0;
}

    /*-----   Style Women & Men Fashion SubMenu   -----*/

.womenfashion, .menfashion {
    display: none;
    flex-direction: column;
    padding: 0 20px;
}
.womenfashion a, .menfashion a{
    display: block;
    color: #000;
    padding: 4px;
}
.womendropdown li, .mendropdown li {
    display: flex;
    justify-content: space-between;
}
.womendropdown:hover .womenfashion,
.mendropdown:hover .menfashion {
    display: block;
}

    /* <=====   Style Home Product Offers   =====>*/

.offers{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    margin-top: 35px;
    color: #fff;
    background: black url('./img/14ProMax.png') no-repeat scroll right;
}
.AppleLogo {
    display: flex;
    align-items: center;
    gap: 30px;
}
.AppleDescription h1{
    width: 300px;
    font: normal 600 48px/60px 'Inter';
    letter-spacing: 0.04em;
    margin: 20px 0;
}
.AppleDescription a{
    display: flex;
    gap: 10px;
    color: #fff;
}
.AppleOffer{
    padding-left: 50px;
}

    /*-----   Style Scrolling Offer   -----*/

.offers{
    height: 330px;
}
.offers .scroll{
    align-self: flex-end;
    padding: 10px;
}
.offers .scroll button{
    border: 2px solid #aeaeae;
    padding: 5px;
    background: #aeaeae;
    border-radius: 50%;
}
.offers .scroll button:hover {
    background: #DB4444;
    border-radius: 50%;
    border: 2px solid #fff;
}

    /* <=====   Style Today's & This Month Product & Our Prouducts  =====>*/

.section6{
    margin-top: 90px;
}
.todays, .this-month, .OurProduct{
    display: flex;
    align-items: center;
    gap: 10px;
}
.todays p, .this-month p,
 .OurProduct p {
    font-family: normal 20px 'Inter';
    font-weight: 600;
    color: #DB4444;
}
.Offer-timer{
    width: 80%;
    margin: auto;
}
.todays div,.this-month div,
 .OurProduct div{
    width: 20px;
    height: 40px;
    background: #DB4444;
    border-radius: 4px;
}
.Flash-sales, .Best-Selling,
.Explore-Our-Products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.Flash-sales h3, .Best-Selling h3,
.Explore-Our-Products h3{
    font: normal 600 36px/48px 'Inter';
    align-self: center;
    padding-top: 10px;
}
.timer{
    display: flex;
    gap: 20px;
    flex-grow: 0.7;
}
.day p:first-child, .hours p:first-child,
 .minutes p:first-child,.seconds p:first-child {
    font: normal 500 12px/18px 'Poppins';
}
.day p, .hours p, .minutes p,
.seconds p:last-child {
    font: normal 700 32px/32px 'Inter';
}
.Semiclone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    gap: 5px;
}
.Semiclone div{
    background-color: #DB4444;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}
.scroll-products,.ViewAll{
    display: flex;
    align-items: center;
    gap: 10px;
}
.scroll-products button{
    padding: 12px;
    border: none;
    border-radius: 50%
}
.ViewAll button{
    padding: 15px 40px;
    background: #DB4444;
    border: 1px solid #DB4444;
    border-radius: 4px;
    padding: 16px 48px;
    color: #fff;
}
.ViewAll button:hover{
    background: #fff;
    color: #DB4444;
}

/* <-------   Style Products  -------->*/

.products-s1{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 45px;
    overflow: hidden;
}
.products{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 90%;
    gap: 45px;
    overflow: hidden;
}
.all-our-products{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 45px;
    width: 90%;
    overflow: hidden;
}
.all-products{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    width: 200px;
    margin-left: 10%;
}
.our-products-first-line,
.our-products-secound-line{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    width: 80%;
    margin: auto;
}
.product1,.product2,.product3{
    width: 290px;
}
.images-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ececec;
    border-radius: 5px;
    padding: 10px;
    height: 220px;
    width: 265px;
}
.price-off{
    align-self: flex-start;
}
.price-off p{
    color: #fff;
    font: normal 400 18px 'Inter';
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #DB4444;
}
.new p{
    background-color: #00FF66;
}
.detail-wishlist{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.product-details h3{
    font: normal 500 18px/24px 'Inter';
    margin: 10px 0;
}
.pricing {
    color: #DB4444;
    font: normal 500 16px/24px 'Inter';
    padding-bottom: 10px;
}
.pricing del {
    color: #000000;
    opacity: 0.5;
}
.rating{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #656565;
}
.AddToCart{
    display: none;
}
.AddToCart button{
    width: 285px;
    background-color: #000;
    justify-content: center;
    border: none;
    padding: 10px 0;
    margin-top: -42px;
    color: #fff;
    font: normal 500 18px 'Inter';
}
.allpictureproduct:hover .AddToCart{
    display: flex;
}
.ViewAllProduct{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.ViewAllProduct button{
    color: #fff;
    background: #DB4444;
    border: 1px solid #DB4444;
    border-radius: 4px;
    padding: 16px 48px;
    font: normal 500 16px/24px 'Poppins';
}
.ViewAllProduct button:hover{
    background: #fff;
    color: #DB4444;
}
.product-details .price{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.our-product-pricing {
    color: #DB4444;
    font: normal 500 16px 'Inter';
    margin-right: 10px;
}

    /*-----   Style Product Choose Color   -----*/

.choose-color-first{
    background-color: #ff0000;
    border: 5px double #fff;
    padding: 10px;
    border-radius: 50%;
}
.choose-color-third{
    background-color: #EEFF61;
    border: 3px solid #000;
    padding: 10px;
    border-radius: 50%;
}
.choose-color-fourth{
    background-color: #000;
    border: 5px double #fff;
    padding: 10px;
    border-radius: 50%;
}
.choose-color-fifth{
    background-color: #184A48;
    border: 5px double #fff;
    padding: 10px;
    border-radius: 50%;
}
.choose-color-second{
    background-color: #DB4444;
    border: 3px solid #DB4444;
    padding: 10px;
    border-radius: 50%;
}

    /* <=====   LINE   =====>*/

hr{
    width: 80%;
    margin: auto;
    opacity: 0.5;
    margin-top: 50px;
    margin-bottom: 90px;
}

    /* <=====   Style Cartegory Title   =====>*/

.categories-section{
    width: 80%;
    margin: auto;
}
.categorys{
    display: flex;
    align-items: center;
    gap: 10px;
}
.categorys p {
    font-family: normal 20px 'Inter';
    font-weight: 600;
    color: #DB4444;
}
.categorys div{
    width: 20px;
    height: 40px;
    background: #DB4444;
    border-radius: 4px;
}
.BrowseByCategory{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.BrowseByCategory h3{
    font: normal 600 36px/48px 'Inter';
    align-self: center;
    padding-top: 10px;
}

    /* <=====   Style All Cartegories   =====>*/

.allcategories{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 30px;
    overflow: hidden;
}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 24px 50px;
    background: #fff;
    font-size: 16px;
}
.category i{
    font-size: 40px;
}
.category:hover{
    background-color: #DB4444;
    color: white;
    stroke: white;
}

/* <=====   Section5: Offer Number 2 =====>*/

.section5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 500px;
    color: #fff;
    margin-top: 90px;
    background: #000 url('./img/blur.png') no-repeat right;
}
.offerdetail{
    padding: 50px;
}
.offerdetail .offer-categories{
    color: #00FF66;
    padding-bottom: 15px;
    font: normal 500 16px 'Inter';
}
.offerdetail h2{
    color: #FAFAFA;
    letter-spacing: 0.04em;
    font:normal 600 48px/60px 'Inter';
}
.product-photo{
    padding: 50px;
}
.time{
    display: flex;
    align-items: center;
    gap: 20px;
}
.time div{
    padding: 8px;
    margin: 40px 0;
    width: 45px;
    height: 45px;
    text-align: center;
    color: #000;
    font-size: 11px;
    background-color: #fff;
    border-radius: 50%;
    font: normal 400 11px 'Poppins';
}
.time div p:first-child{
    font-weight: 600;
    font-size: 16px;
}
.offerdetail button{
    color: #fff;
    border: none;
    padding: 16px 48px;
    background: #00FF66;
    border-radius: 4px;
}
.offerdetail button:hover{
    color: #00FF66;
    background: #fff;
}

    /* <=====   Style Section Number 7 Featured  =====>*/

.section7{
    padding-top: 140px;
}

    /* <=====   Style Footer   =====>*/

footer{
    margin-top: 100px;
    background-color: black;
    color: white;
}
.footer-information {
    display: flex; 
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 60px;
}
.footer-information li{
    padding-bottom: 20px;
}
.footeremail{
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 10px;
}
.footeremail input {
    background: none;
    color: #fff;
    border: none;
    outline: none;
}
.support {
    width: 200px;
    line-height: 23px;
}
.download-app p{
    font-size: 12px;
    opacity: 0.7;
    padding-top: 20px;
    padding-bottom: 5px;
}
.download{
    display: flex;
    gap: 5px;
}
.App-store{
    display: flex;
    flex-direction: column;
}
.social{
    margin-right: 20px;
}

    /* <=====   Style Copyright   =====>*/

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 12px;
    opacity: 0.6;
    padding: 20px;
}