@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter';
}
header{
    border-bottom: 0.1px solid rgb(193, 193, 193);
}
.topheader{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top-header{
    color: white;
    background-color: black;
    padding: 10px 0;
    font-family: 'Poppins';
    font-size: 13px;
}
.top-header p {
    margin-left: 17.4%;
}
.top-header a{
    color: white;
    margin: 0 10px;
}
.lang {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 5px 0px;
    width: 80%;
    margin: auto;
}
.header h2{
    flex-grow: 0.5;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.03em;
}
.menu{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    margin-right: 30px;
}
ul li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}
.search{
    display: flex;
    background-color: #F5F5F5;
    padding: 2px;
}
.search input{
    width: 190px;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: #F5F5F5;
}
.wish-card{
    display: flex;
    align-items: center;
    gap: 20px;
}
.landingpage{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.sidebar{
    width: 200px;
    border-right: 1px solid rgb(193, 193, 193);
    padding-top: 20px;
}
.sidebar ul {
    list-style: none;
    font-size: 15px;
}
.sidebar ul li{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.womenfashion, .menfashion {
    display: none;
    flex-direction: column;
    padding: 0 15px;
}
.womenfashion a, .menfashion a{
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 4px;
}
.womendropdown li, .mendropdown li {
    display: flex;
    justify-content: space-between;
}
.womendropdown li img, .mendropdown li img {
    padding-right: 7px;
}
.womendropdown:hover .womenfashion, .mendropdown:hover .menfashion {
    display: block;
}
.offers{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    height: 335px;
    width: 75%;
    margin-top: 35px;
    color: #fff;
    background-image: url('./img/14ProMax.png');
    background-repeat: no-repeat;
    background-position: right;
}
.AppleLogo {
    display: flex;
    align-items: center;
    gap: 30px;
}
.AppleDescription h1{
    width: 300px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.04em;
    margin: 20px 0;
}
.AppleDescription a{
    display: flex;
    gap: 10px;
    color: #fff;
}
.AppleOffer{
    padding-left: 50px;
}
.offers .scroll{
    align-self: flex-end;
    padding: 10px;
}
.offers .scroll button{
    border: 2px solid #aeaeae;
    padding: 6px;
    background: #aeaeae;
    border-radius: 50%;
}
.offers .scroll button:hover {
    background: #DB4444;
    border-radius: 50%;
    border: 2px solid #fff;
}
footer{
    background-color: black;
    color: white;
}